[Unit]
Description=Reverse tunnel service
After=network.target

[Service]
ExecStart={exec-start}
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target